<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
   <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
   </configSections>

  <!--dbStock-->
  <connectionStrings>
    <add name="DBConnectionString" connectionString="IwwQSCERf+/pttui/tP0t1ermcMpttuiVYMW_HRTtV4120GFcDieh.,kAE/gr;,.ne#9urytI:xoryhful~sewjuP6T9-_EW;DN8UYRMWMK}-=GFíNcO9)504t3qWeglyóg8UYRM]uvR89-=F-%}iT_e%rwqWeglNaý8UYRMjWpqWeglaDLi56%WoBJ}iT_ehCDA7oWeJa1,DEFGp,edv.dfHju,defgw5+0t1erDcu,defgDKípttuiqLom,kl;KoKW_HRT/éHORYHFSsfpttuiè}Z0t1erZpdpttuiýSsm,kl;6U-eh.,kBgslomjf}zé9-_EWIA?qscer@!IkdgerP|F120GFEhH0t1erd3Yeh.,ktDboryhfkIqxzsaqFJ=U;RTGr?rpttuiDùù:jht,yqJ;lopu*]GpttuiGnE9urytsQVA7oWeNSWGR;,.,nT120gfUxpsewjuáz{9uryt1#pW_HRTw*è,DEFG9fEQSCERD1F9-_EW_fCkdgerLGDsewjuwHV120gfSJS0t1erIènU;RTGfo[pttuib9odv.dfm*àA7oWeVOe:JHT,uQDpttuicbA120gfB~F120gfoxT5c#9@I%Qeh.,kvu*9urytPd9qscer;Zm9-_EWXF:PTTUIíEaKDGER4FCORYHFzWz8UYRM];JO9)50GmR%67RE%7Py#udlN1U78jnbeN73t45haOk}iT_e" providerName="System.Data.SqlClient"/>
  </connectionStrings> 

  <appSettings>
    <add key="OE_O" value="hMiRE09=nL*RE09=oO!RE09=FTy8UYRM" />
    <add key="OE_A" value="egK8UYRMT2HRE09=lRRRE09=dH0RE09=" />
    <add key="OE_X" value="sFJkdgerNHDsewju,E2120gfUèf0t1eránuU;RTG19+pttuiwUvdv.df" />
    <add key="OE_D" value="BaP3T45H%/L;)9vRIhcy#udlt458UYRMPDhO9)50.Iv}iT_eXK!sewjuéoyET,IO4ùñ,DEFGxq&gt;78JNB{}OnhyuiF#Keh.,k^QS,defgMT4{OTU-" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    
    <!--api NOTIFICATION--> 
  <add key="NOTIFURL" value="https://onesignal.com/api/v1/notifications" />
  <add key="NOTIFAUTORISATION" value="NmVjMmNlNTktMDQwYy00MDNmLTk1MzMtZTA0NDEyYjhiNTEz" />
  <add key="NOTIFAPPID" value="94fd986b-9f55-40f3-8343-c20c9175d3da" />
  <add key="urlApiSms" value="http://192.168.1.100:711/"/>
</appSettings>
  <system.webServer>
    <directoryBrowse enabled="true" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="24.20:31:23.6470000" receiveTimeout="24.20:31:23.6470000" sendTimeout="24.20:31:23.6470000" openTimeout="24.20:31:23.6470000">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsEditionEtatBudget">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsEditionEtatBudget"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhatiers">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhatiers"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsVille">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsVille"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPays">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPays"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCommune">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCommune"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtpardesignation">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtpardesignation"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparintermediaire">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparintermediaire"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtpargarantierisqueassuranceliaison">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtpargarantierisqueassuranceliaison"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparprimerisqueassuranceliaison">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparprimerisqueassuranceliaison"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtcontrat">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtcontrat"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtpartypeaffaire">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtpartypeaffaire"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhaparrayon">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhaparrayon"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtpartypecontratauto">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtpartypecontratauto"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparreduction">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparreduction"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsOperateur">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsOperateur"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtpargenreauto">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtpargenreauto"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparautocategorie">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparautocategorie"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparbranche">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparbranche"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparduree">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparduree"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparenergieauto">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparenergieauto"/>
      </service>



      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtpartarif">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtpartarif"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtpartypeappartement">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtpartypeappartement"/>
      </service>



      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtpartypecontratsante">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtpartypecontratsante"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtpartypeoccupant">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtpartypeoccupant"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparusageauto">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparusageauto"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsTypevehicule">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsTypevehicule"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsZoneauto">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsZoneauto"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsZonemaladie">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsZonemaladie"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparconditionpermis">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparconditionpermis"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparstatutsocioprofessionnel">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparstatutsocioprofessionnel"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsZonevoyage">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsZonevoyage"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsMiccomptewebmotpasseoublie">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsMiccomptewebmotpasseoublie"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsClipartitreadherantayantsdroits">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsClipartitreadherantayantsdroits"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparmainforte">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparmainforte"/>
      </service>


      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtsinistre">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtsinistre"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtsinistrephoto">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtsinistrephoto"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtsinistresuivie">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtsinistresuivie"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtsinitreexpertnomme">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtsinitreexpertnomme"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparnaturesinistre">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparnaturesinistre"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtcontratcheque">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtcontratcheque"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtcontratecheancier">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtcontratecheancier"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtcontratsuivieclient">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtcontratsuivieclient"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhatiersphoto">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhatiersphoto"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCliparspecialite">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCliparspecialite"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhatiersgroupe">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhatiersgroupe"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsProfession">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsProfession"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsSexe">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsSexe"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsActivite">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsActivite"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhaparcasutilisationtiers">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhaparcasutilisationtiers"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsRegimeimposition">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsRegimeimposition"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhapartypetierscompterattacheadditionnel">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhapartypetierscompterattacheadditionnel"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhapartypetiers">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhapartypetiers"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsTVA">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsTVA"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsASDI">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsASDI"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsBanque">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsBanque"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsBanqueagence">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsBanqueagence"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtcontratrendezvousclient">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtcontratrendezvousclient"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtcontratchequephoto">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtcontratchequephoto"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhaparnaturetiers">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhaparnaturetiers"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsEscompte">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsEscompte"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsOperateurdroit">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsOperateurdroit"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsLogicielobjet">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsLogicielobjet"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsClientexoneretaxe">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsClientexoneretaxe"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPlancomptable">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPlancomptable"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtcontratquestionnaire">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtcontratquestionnaire"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparquestionnaireliaisondocument">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparquestionnaireliaisondocument"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhaparentrepot">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhaparentrepot"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsService"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsTypeoperateur">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsTypeoperateur"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsProfil">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsProfil"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparquestionnairedocumentrisqueassuranceliaison">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparquestionnairedocumentrisqueassuranceliaison"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparbranchecategorietarif">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparbranchecategorietarif"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtpartauxauto">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtpartauxauto"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparcapitauxrisqueassuranceliaison">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparcapitauxrisqueassuranceliaison"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhamouvementstockreglement">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhamouvementstockreglement"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsModereglement">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsModereglement"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPlancomptablenaturecomptemodereglement">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPlancomptablenaturecomptemodereglement"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtsinistrechequephoto">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtsinistrechequephoto"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtsinistrecheque">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtsinistrecheque"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhaparnaturetypearticle">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhaparnaturetypearticle"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhapartypearticle">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhapartypearticle"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhapararticle">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhapararticle"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhamouvementStock">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhamouvementStock"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsOperateurdroitagence">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsOperateurdroitagence"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsJournal">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsJournal"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsOperateurdroitphaparentrepot">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsOperateurdroitphaparentrepot"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsOperateurdroitsaisiephaparentrepot">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsOperateurdroitsaisiephaparentrepot"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhanaturefamilleoperation">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhanaturefamilleoperation"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsLogicielobjettypeoperationoperateur">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsLogicielobjettypeoperationoperateur"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhafamilleoperation">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhafamilleoperation"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsLogicielobjettypeschemacomptableoperateur">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsLogicielobjettypeschemacomptableoperateur"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsOperateurdroitCompteTresorerie">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsOperateurdroitCompteTresorerie"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsSENS">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsSENS"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsLogicielobjettypeschemacomptableprofil">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsLogicielobjettypeschemacomptableprofil"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsJourneetravail">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsJourneetravail"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsLogiciel">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsLogiciel"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsClipartypeconsultattion">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsClipartypeconsultattion"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCliparmodeadmission">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCliparmodeadmission"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCliparmodesortie">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCliparmodesortie"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsEtat">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsEtat"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsEdition">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsEdition"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsEditionEtatParametre">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsEditionEtatParametre"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsEditionEtatClientFournisseur">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsEditionEtatClientFournisseur"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCliconsultation">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCliconsultation"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsStatutContrat">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsStatutContrat"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsRisqueassurance">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsRisqueassurance"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsEditionEtatAssurance">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsEditionEtatAssurance"/>
      </service>


      <!-- debut Dev JJ -->

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsNatureOperation">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsNatureOperation"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhaParTypeBudget">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhaParTypeBudget"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCompteAmortissement">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCompteAmortissement"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsSection">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsSection"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsLieuFacturation">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsLieuFacturation"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsClipartypejourfacturation">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsClipartypejourfacturation"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhapartypefournisseur">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhapartypefournisseur"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhamouvementstockfiltragedestock">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhamouvementstockfiltragedestock"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhamouvementstockfiltragedestockexpiration">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhamouvementstockfiltragedestockexpiration"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsTypeListe">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsTypeListe"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsTypeEtat">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsTypeEtat"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsTypeBalance">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsTypeBalance"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsGrandLivre">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsGrandLivre"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsOption">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsOption"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsEditionEtatImmobilisation">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsEditionEtatImmobilisation"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsEditionEtatCaisse">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsEditionEtatCaisse"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsEditionEtatStock">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsEditionEtatStock"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsMobileSouscription">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsMobileSouscription"/>
      </service>
      
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsOrgProspects">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsOrgProspects"/>
      </service>     
      
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhamouvementstockreglementnatureoperation">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhamouvementstockreglementnatureoperation"/>
      </service>  
      
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsStatutgrandlivre">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsStatutgrandlivre"/>
      </service>         
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsEditionEtatOutilsSecurite">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsEditionEtatOutilsSecurite"/>
      </service>    
      
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsOrgProspectsPhoto">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsOrgProspectsPhoto"/>
      </service>   
      
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtpargarentieprimerisque">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtpargarentieprimerisque"/>
      </service>  
      
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtsinistresituationdossier">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtsinistresituationdossier"/>
      </service>  
      
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhafamilleoperationTemp">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhafamilleoperationTemp"/>
      </service>   
      
       <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPlancomptableTemp">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPlancomptableTemp"/>
      </service>     
      
        <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsParametre">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsParametre"/>
      </service>         
      
        <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPlancomptablenaturecompte">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPlancomptablenaturecompte"/>
      </service>   
      
        <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsComptapar_sens">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsComptapar_sens"/>
      </service>         
      
         <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsTypeCompte">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsTypeCompte"/>
      </service> 
      
          <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsStatutCompte">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsStatutCompte"/>
      </service>      
      
          <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsComptapar_typesaut">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsComptapar_typesaut"/>
      </service>  
      
          <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPlan_rerporting">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPlan_rerporting"/>
      </service>    
      
          <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhapartypearticleoperation">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhapartypearticleoperation"/>
      </service>         
      
          <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhapartypearticlecompteplancomptablemodel">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhapartypearticlecompteplancomptablemodel"/>
      </service>         
      
    <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhapartypearticleoperationparametre">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhapartypearticleoperationparametre"/>
      </service>   
      
    <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsPhamouvementstockreglementnatureoperationtype">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsPhamouvementstockreglementnatureoperationtype"/>
      </service>



      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsMicbudgetparamtype">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsMicbudgetparamtype"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsBienimmobilisefamille">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsBienimmobilisefamille"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsMicbudgetparampostebudgetaire">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsMicbudgetparampostebudgetaire"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsMicbudgetparamtypedetail">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsMicbudgetparamtypedetail"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsTypejournal">
      <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsTypejournal"/>
      </service>  
      
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsMicbudgetparampostebudgetairenature">
      <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsMicbudgetparampostebudgetairenature"/>
      </service>


      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsSmsout">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsSmsout"/>
      </service>




      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsProfilwebdroit">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsProfilwebdroit"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsProfilwebdroitagence">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsProfilwebdroitagence"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsProfilweb">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsProfilweb"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsProfilwebdroitentrepot">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsProfilwebdroitentrepot"/>
      </service>



      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsProfilwebdroitsaisieentrepot">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsProfilwebdroitsaisieentrepot"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsLogicielobjettypeoperationprofilweb">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsLogicielobjettypeoperationprofilweb"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsLogicielobjettypeschemacomptableprofilweb">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsLogicielobjettypeschemacomptableprofilweb"/>
      </service>


      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsLogicielobjetweb">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsLogicielobjetweb"/>
      </service>
      
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtparcontratstatutdemande">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtparcontratstatutdemande"/>
      </service>
      
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsCtcontratdemandecreation">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsCtcontratdemandecreation"/>
      </service> 
      <service behaviorConfiguration="ServiceBehavior" name="Stock.WCF.wsExercice">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Stock.WCF.IwsExercice"/>
      </service>       
      <!-- fin Dev JJ -->
    
      
      
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
    <!-- <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>

<log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="App_Data\Logs\TraceLog.%property{log4net:HostName}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

