<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!--dbVitalFinance
  <connectionStrings>
    <add name="DBConnectionString" connectionString="eBpQSCERoaqpttuih.`0t1erJjEpttuip5FW_HRTHcD120GFwKdeh.,k1LVgr;,.DoS9urytqéooryhfLs]sewju/=o9-_EWSpà8UYRMèTW}-=GFZUEO9)50ñFBqWegl6zF8UYRMBBTR89-==!R}iT_eI|%qWegl@h98UYRMQ3mqWeglED;8UYRMdIjRE09=tKCRE09=k?zA7oWeDág,DEFGrqSdv.dfD{P,defgznU0t1er*R8,defgGSlpttuisJ.m,kl;NxwW_HRT.zBORYHFU#ypttuiá*n0t1er2fQpttuiw1Nm,kl;9R1eh.,kEG6lomjf_Ij9-_EWLJ|qscerw`!kdgerSozET,IO?[w,defgf*/0t1erbPPpttuinQMm,kl;VbMNHYUIu~4,defgMxidv.dfB%/pttuiou#dv.dfIexoryhfvZñsewjuQHTA7oWeXGKGR;,.óWS120gf4à3sewjuzmg9uryt]8vW_HRTG1%,DEFG^NwQSCERNOý9-_EWeTpkdgerbýLsewjuovJ120gfi+D0t1ergs1U;RTGpcepttuifXtdv.dfwV+A7oWe1Cu:JHT,EEípttuiqjO120gfL:K120gf|kH5c#9@S6feh.,k`MZ9urytZLdqscerñMs9-_EW7p-PTTUIBósKDGER=téORYHFJ-?8UYRM@qIO9)50QaF%67REJVFy#udldDY78jnbTAb3t45hkCq}iT_e" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!--dbVitalFinance Localhost
  <connectionStrings>
    <add name="DBConnectionString" connectionString="HF{QSCERuHppttuiPE`0t1er:èEpttuiWnFW_HRTí9C120GF3*Deh.,kyOVgr;,.F/n9uryt%~[oryhfMwosewjuj%à9-_EWatem,kl;OdDeh.,khYBoryhfJFFpttuioDTm,kl;HFQ;lopuve%eh.,kD;9120gfDmm0t1erp7:A7oWeK1a,DEFG/MCdv.dfROz,defgètJ0t1erZýR,defgýuPpttui6_Um,kl;Ar7W_HRT}bkORYHFIW.pttui#dw0t1erPBApttuiEDxm,kl;cjneh.,kt.QlomjfkkN9-_EWF5DqscerrM6kdgerRKjET,IOyM|,defg*o@0t1erFíypttuisswm,kl;N=/NHYUI,pO,defgUTLdv.dfùUMpttui1F4dv.dfwAhoryhf8B*sewjuDw#A7oWe_|xGR;,.Kiñ120gfw3tsewjuSSN9urytIIKW_HRTfKS,DEFG/?2QSCERmáf9-_EWVqvkdgert{%sewjuBRó120gfnTp0t1erIJLU;RTGvyIpttuiPzRdv.df;@1A7oWeW*e:JHT,ígtpttui41_120gfyRu120gf]Gí5c#9@GIOeh.,k%JJ9urytN`Gqscerjof9-_EWa[ZPTTUIo%cKDGERhPrORYHFJR-8UYRMpbsO9)50Hwá%67REwxIy#udl1^I78jnbDuF3t45hqeF}iT_e" providerName="System.Data.SqlClient"/>
  </connectionStrings>  -->
  <!--TESTBASE Localhost
  <connectionStrings>
    <add name="DBConnectionString" connectionString="lU@QSCERdFzpttuitzw0t1erSB/pttuiA!OW_HRTn|M120GFHhMeh.,ku34gr;,.ODh9uryt:I*oryhfWJ#sewjué?x9-_EW3ùñm,kl;yqteh.,k[]NoryhfFnKpttui%RSm,kl;MS2;lopujJgeh.,kTxv120gfOz%0t1erh#vA7oWen*ý,DEFGofpdv.dfH1L,defgvfI0t1erDGD,defgCH1pttuipJem,kl;KètW_HRTR[uORYHFè*ípttuiYPO0t1erýQJpttui6bHm,kl;A~feh.,k}xZlomjfH%c9-_EW#us0T1ERPd-SEWJUWZs120GFcFá0T1ERtE?KDGERjGIPTTUIFWF120GFràFSEWJURmXA7oWey8bGR;,.U1q120gfFN}sewjusOq9urytMTùW_HRT,ýJ,DEFGUvGQSCERù_D9-_EW1sVkdger~bWsewju8XT120gfDVo0t1er-C{U;RTGKEppttuiwjèdv.dfR:WA7oWeIkE:JHT,f6Cpttui/MD120gfmLU120gfdMR5c#9@tpneh.,kcí[9urytAtnqscern=;9-_EWIqePTTUIuaDKDGERPVAORYHF:Dg8UYRMíCQO9)503w*%67REy,8y#udl]il78jnbF4:3t45h%Sa}iT_e" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!--TESTBASE grass.arvixe.com
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Ip~QSCER#]TpttuiP%O0t1erEQLpttuicRcW_HRTtn3120GFkwheh.,kFy*gr;,.r^^9urytDvworyhfyeñsewju*0t9-_EWFHMlomjfsFJ9urytNHDpttui,E2120gfUèf120gfánuqWegl19+pttuiwUv9uryt9Oóet,ioDPo,defg_/K78jnbwwRsewjuS+0qWeglItdoryhffcteh.,kbY_u;rtgmFtA7oWeVDé,DEFGtF?dv.dfceJ,defgB;G0t1ernlH,defgI7YpttuivDcm,kl;PMrW_HRT;N=ORYHFXtrpttuiíóá0t1er4uIpttuiy-Hm,kl;]rEeh.,kGbFlomjf%WX9-_EWNda0T1EReBpSEWJUaD{120GFoaq0T1ERh.`KDGERJjEPTTUIp5F120GFHcDSEWJUwKdA7oWe1LVGR;,.DoS120gfqéosewjuLs]9uryt/=oW_HRTSpà,DEFGèTWQSCERZUE9-_EWñFBkdger6zFsewjuBBT120gf=!R0t1erI|%U;RTG@h9pttuiQ3mdv.dfED;A7oWedIj:JHT,tKCpttuik?z120gfDág120gfrqS5c#9@D{Peh.,kznU9uryt*R8qscerGSl9-_EWsJ.PTTUINxwKDGER.zBORYHFU#y8UYRMá*nO9)502fQ%67REw1Ny#udl9R178jnbEG63t45h_Ij}iT_e" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!--dbVitalFinanceSIRIUS
  <connectionStrings>
    <add name="DBConnectionString" connectionString="5DoQSCERAEàpttui{ee0t1erH;Epttui#lBW_HRTO7F120GFWDTeh.,kcMQgr;,.pN%9urytjt9oryhfgómsewjuqu:9-_EWR-jm,kl;xrCeh.,kFWJoryhfrDSpttuiMBPm,kl;,DU;lopuTa7eh.,kù.l120gf0j.0t1er~5wA7oWe8cA,DEFGCKxdv.df-Ln,defgKoQ0t1er!éN,defgRsDpttuiI}6m,kl;epjW_HRT/S|ORYHFlU@pttuidFz0t1ertzwpttuiSB/m,kl;A!Oeh.,kn|MlomjfHhM9-_EWu34qscerODhkdger:I*ET,IOWJ#,defgé?x0t1er3ùñpttuiyqtm,kl;[]NNHYUIFnK,defg%RSdv.dfMS2pttuijJgdv.dfTxvoryhfOz%sewjuh#v120GFn*ý,DEFGofp9URYTH1L,DEFGvfIGR;,.DGD120GFCH1A7oWepJeGR;,.Kèt120gf*o_sewjuR[u9urytè*íW_HRTYPO,DEFGýQJQSCER6bH9-_EWA~fkdger}xZsewjuH%c120gf#us0t1erPd-U;RTGWZspttuicFádv.dftE?A7oWejGI:JHT,FWFpttuiràF120gfRmX120gfy8b5c#9@U1qeh.,kFN}9urytsOqqscerMTù9-_EW,ýJPTTUIUvGKDGERù_DORYHF1sV8UYRM~bWO9)508XT%67REDVoy#udl-C{78jnbKEp3t45hR:W}iT_e" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!--dbVitalFinanceMobile
  <connectionStrings>
    <add name="DBConnectionString" connectionString="I}6QSCER/S|pttuilU@0t1erdFzpttuitzwW_HRTSB/120GFA!Oeh.,kn|Mgr;,.HhM9urytu34oryhfODhsewju:I*9-_EWWJ#8UYRMé?x}-=GF3ùñO9)50yqtqWeglFnK8UYRM%RSR89-=MS2}iT_ejJgqWeglTxv8UYRMOz%qWeglh#v8UYRMn*ýRE09=ofpRE09=H1LA7oWevfI,DEFGDGDdv.dfCH1,defgpJe0t1erKèt,defg*o_pttuiR[um,kl;è*íW_HRTYPOORYHFýQJpttui6bH0t1erA~fpttui}xZm,kl;H%ceh.,k#uslomjfPd-9-_EWWZsqscercFákdgertE?ET,IOjGI,defgFWF0t1erràFpttuiRmXm,kl;y8bNHYUIU1q,defgFN}dv.dfsOqpttuiMTùdv.df,ýJoryhfUvGsewjuù_DU;RTG1sVeh.,k~bWkdger8XT,defgDVom,kl;-C{sewjuKEpA7oWewjèGR;,.R:W120gfIkEsewjuf6C9uryt/MDW_HRTmLU,DEFGdMRQSCERtpn9-_EWcí[kdgerAtnsewjun=;120gfIqe0t1eruaDU;RTGPVApttui:Dgdv.dfWATA7oWeíCQ:JHT,3w*pttuiy,8120gf]il120gfF4:5c#9@%Saeh.,kNJB9urytjKyqsceraOJ9-_EWOáRPTTUIhrOKDGERJ}1ORYHFoo78UYRMHSkO9)50wT,%67REDg!y#udlDyA78jnbqAx3t45hK@b}iT_e" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--dbVitalFinanceMobileRaouda
<connectionStrings>
    <add name="DBConnectionString" connectionString="Y?FQSCERóáXpttui5qa0t1erA{qpttui{n}W_HRTHRq120GF#S`eh.,kOJEgr;,.WxG9urytbzDoryhfp@dsewjuj*V9-_EWggT8UYRMq1o}-=GFRR]O9)50xGoqWeglUIè8UYRMFJWR89-=r`E}iT_eMoBqWegl|[D8UYRMT*UqWeglùPR8UYRM~b9RE09=8wnRE09=Cx;A7oWe-^j,DEFGJuCdv.df!eA,defgRZg0t1erJHS,defgeEPpttui/G*m,kl;lW8W_HRTdàlORYHFtm.pttuiS8a0t1erA1Bpttui%Nym,kl;HPneh.,kuTQlomjfOñO9-_EW:v1qscerW+6kdgerésjET,IO3c,,defgxX!0t1er[VzpttuiFCwm,kl;+EbNHYUIMjP,defgj:Mdv.dfTkMpttuiO65dv.dfhDioryhfnL/sewjuoN#U;RTGFpxeh.,kvó~kdgerDtT,defgC-Nm,kl;pqKsewjuKac9URYT*V3PTTUIRDgEH.,KèAvGR;,.YC^QSCERýwwPTTUI5,ýA7oWeAjpGR;,.}4M120gfHcJsewju#JD9urytPL1W_HRTWOf,DEFGcéuQSCERpr+9-_EWj}ukdgerFoísewjuqSo120gfRTK0t1erygHU;RTGUyfpttuiFA0dv.dfs!dA7oWeM/s:JHT,,h-pttuiT2t120gfùDé120gf1H?5c#9@~JIeh.,k8IG9urytDùHqscer-pY9-_EWK]bPTTUIw%qKDGERRQ=ORYHFIRr8UYRMenùO9)50/xJ%67REmyHy#udld#E78jnbtvV3t45hcfW}iT_e" providerName="System.Data.SqlClient"/>
    </connectionStrings>-->
  <!--dbVitalFinanceMobileDev
  <connectionStrings>
    <add name="DBConnectionString" connectionString="#`9QSCERPpnpttuiW[;0t1erc%jpttuitPCW_HRTjRz120GFFbgeh.,krwSgr;,.RyP9uryty^Uoryhf*v8sewjuFel9-_EWs0.8UYRMMHw}-=GF,FBO9)50UGyqWeglùEn8UYRM1àQR89-=wnO}iT_e881qWeglDU68UYRM_NjqWeglKP,8UYRMw/!RE09=RñzRE09=IwwA7oWef+/,DEFG/tPdv.dfmcM,defgVYM0t1ertV4,defgcDipttuiAE/m,kl;ne#W_HRTI:xORYHFul~pttuiP6T0t1er;DNpttuiWMKm,kl;íNceh.,k4t3lomjfyóg9-_EW]uvqscerF-%kdger%rwET,IONaý,defgjWp0t1eraDLpttuioBJm,kl;hCDNHYUIJa1,defgp,edv.dfHjupttuiw5+dv.dfDcuoryhfDKísewjuqLoU;RTGKoKeh.,k/éHkdgerSsf,defgè}Zm,kl;ZpdsewjuýSsQSCER6U-sewjuBgset,io}zéA7oWeIA?GR;,.@!I120gfEhHsewjud3Y9uryttDbW_HRTkIq,DEFGFJ=QSCERr?r9-_EWDùùkdgeryqJsewju*]G120gfGnE0t1ersQVU;RTGNSWpttui,nTdv.dfUxpA7oWeáz{:JHT,1#ppttuiw*è120gf9fE120gfD1F5c#9@_fCeh.,kLGD9urytwHVqscerSJS9-_EWIènPTTUIfo[KDGERb9oORYHFm*à8UYRMVOeO9)50uQD%67REcbAy#udlB~F78jnboxT3t45hI%Q}iT_e" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!--dbVitalFinance 
 <connectionStrings>
  <add name="DBConnectionString" connectionString="eBpQSCERoaqpttuih.`0t1erJjEpttuip5FW_HRTHcD120GFwKdeh.,k1LVgr;,.DoS9urytqéooryhfLs]sewju/=o9-_EWSpà8UYRMèTW}-=GFZUEO9)50ñFBqWegl6zF8UYRMBBTR89-==!R}iT_eI|%qWegl@h98UYRMQ3mqWeglED;8UYRMdIjRE09=tKCRE09=k?zA7oWeDág,DEFGrqSdv.dfD{P,defgznU0t1er*R8,defgGSlpttuisJ.m,kl;NxwW_HRT.zBORYHFU#ypttuiá*n0t1er2fQpttuiw1Nm,kl;9R1eh.,kEG6lomjf_Ij9-_EWLJ|qscerw`!kdgerSozET,IO?[w,defgf*/0t1erbPPpttuinQMm,kl;VbMNHYUIu~4,defgMxidv.dfB%/pttuiou#dv.dfIexoryhfvZñsewjuQHTA7oWeXGKGR;,.óWS120gf4à3sewjuzmg9uryt]8vW_HRTG1%,DEFG^NwQSCERNOý9-_EWeTpkdgerbýLsewjuovJ120gfi+D0t1ergs1U;RTGpcepttuifXtdv.dfwV+A7oWe1Cu:JHT,EEípttuiqjO120gfL:K120gf|kH5c#9@S6feh.,k`MZ9urytZLdqscerñMs9-_EW7p-PTTUIBósKDGER=téORYHFJ-?8UYRM@qIO9)50QaF%67REJVFy#udldDY78jnbTAb3t45hkCq}iT_e" providerName="System.Data.SqlClient"/>
 </connectionStrings>-->

  <!--dbVitalFinanceRAOUDA
  <connectionStrings>
    <add name="DBConnectionString" connectionString="yCDQSCER*EUpttuiGeR0t1ers:%pttuiNl[W_HRT.6n120GFUD;eh.,káLjgr;,.2ND9urytwpAoryhf9ógsewjuDtS9-_EW_-Q8UYRMLq*}-=GFwa8O9)50SVlqWegl?D:8UYRMfBaR89-=bCB}iT_emayqWeglV,J8UYRMujRqWeglc4O8UYRMBc1RE09=oJ6RE09=ILkA7oWevO,,DEFGQé!dv.df;rz,defgX}x0t1erípb,defg4SPpttuizUMm,kl;]gDW_HRTGz5ORYHF^AipttuiN!/0t1ere/@pttuibhym,kl;o2~eh.,kiDTlomjfJHN9-_EWpJLqscerfIckdgerwù3ET,IO1qg,defgE]*0t1erqn^pttuiLQwm,kl;/SýNHYUISnt,defg`xMdv.dfZyJpttuiñ#Ddv.df7v2oryhfBffsewju=0u9URYTJf+PTTUI@FuEH.,KQHóGR;,.EJoQSCERdèKPTTUIToHA7oWek9RGR;,.D*0120gfsOdsewjuDQs9urytz/_W_HRT*~t,DEFGGwéQSCERt%?9-_EWNtJkdger.dGsewjuVYH120gfáFY0t1er2EbU;RTGxFrpttui9W=dv.dfE;rA7oWe_mù:JHT,L7Ipttuia1H120gfSME120gf?OV5c#9@gtXeh.,kbýa9urytnupqscerF_{9-_EWurqPTTUIMb`KDGERBXEORYHFodF8UYRMJCDO9)50vDd%67REQjVy#udlà.S78jnbXkn3t45hó5]}iT_e" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  -->
   <!--dbVitalFinanceRemuci
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Ig4QSCER#zhpttuiPA*0t1erE!#pttuic/xW_HRTthñ120GFk2teh.,kFDMgr;,.rHK9urytRJSoryhfyI2sewju*ùf9-_EWFqvm,kl;s]%eh.,kNnvoryhf,QópttuiUSpm,kl;ùnL;lopu1xIeh.,kwyR120gf8#10t1erDveA7oWe_ft,DEFGK0_dv.dfwft,defgSFí0t1erIHO,defgfJJpttui/èGm,kl;mofW_HRTV9ZORYHFt*cpttuicOr0t1erBQ-pttuin/sm,kl;I~áeh.,kvwIlomjfP%I9-_EW;tFqscerWdFkdgeríYXET,IO4Fb,defgE.e0t1erdkupttuit5+m,kl;kMuNHYUIFKí,defgrModv.dfDpKpttuiyíHdv.df*tforyhfG=0sewjusqd9URYTNTssewju,V-u;rtgUFsgr;,.áAéoryhf1B?,defgwwIA7oWe9|FGR;,.DiH120gf_3YsewjuLSb9urytwJqW_HRTSK=,DEFGIOrQSCERfáù9-_EWbrJkdgerm{HsewjuVoE120gfuRV0t1ercTWU;RTGBJTpttuioypdv.dfIz{A7oWev@p:JHT,P/èpttui;gE120gfX2F120gfíRC5c#9@4HDeh.,kzIV9uryt]ISqscerG`n9-_EW%p[PTTUIN[oKDGERe%àORYHFaPe8UYRMoRDO9)50ibA%67REJwFy#udlpyT78jnbf^Q3t45hwv*}iT_e" providerName="System.Data.SqlClient"/>
  </connectionStrings> -->
  
   <!--@51.210.111.16-dbVitalFinance --> 
  <connectionStrings>
    <add name="DBConnectionString" connectionString="J}*QSCERpp^pttuifSx0t1erwUñpttui1FtW_HRTDzM120GFqBKeh.,kL!Sgr;,./|29urytShforyhf`3vsewjuZD%9-_EWñIvIOPQW7Jó8UYRMB?oqWegl=ùLO9)50IqI8UYRM@]RRE09=Qn0qWeglERe8UYRMdSt8UYRMTJ_8UYRMkxtqWeglDzí8UYRMr#OR89-=D*JA7oWezfG,DEFG*1fdv.dfGfZ,defgtGc0t1erNHr,defg.J=pttuiVèsm,kl;áoáW_HRT2[IORYHFw*Hpttui9PF0t1erEQFpttui_bXm,kl;L~aeh.,kaxqlomjfS%}9-_EWwV+qscer1CukdgerEEíET,IOqjO,defgL:K0t1er|kHpttuiS6fm,kl;`MZNHYUIZLd,defgñMsdv.df7p-pttuiBósdv.df=téoryhfJ-?sewju@qIA7oWeQaFGR;,.JVF120gfdDYsewjuTAb9urytkCqW_HRTDw},DEFGs,rQSCERDiù9-_EWz4Jkdger%SGsewjuGJE120gftLV0t1erOOWU;RTG.éTpttuiVrpdv.dfá}{A7oWe2op:JHT,xSèpttui9TE120gfEgF120gf+yC5c#9@LADeh.,ka@U9urytS/Sqscer?gn9-_EWg2[PTTUIbDnKDGERnHàORYHFFJe8UYRMuIDO9)50MùA%67RECpFy#udlo]T78jnbJ%Q3t45hvQ*}iT_e" providerName="System.Data.SqlClient"/>
  </connectionStrings> 
  
  
   <!--@localhost-dbVitalFinanceCMECBINGERVILLE 
  <connectionStrings>
    <add name="DBConnectionString" connectionString="yOVQSCER]QSpttuiF/n0t1er%~[pttuiMwoW_HRTj%à120GFateeh.,kOdDgr;,.hYB9urytJFForyhfoDTsewjuHFQ9-_EWve%m,kl;D;9eh.,kDmmoryhfp7:pttuiK1am,kl;/MC;lopuROzeh.,kètJ120gfZýR0t1erýuPA7oWe6_U,DEFGAr7dv.df}bk,defgIW.0t1er#dw,defgPBApttuiEDxm,kl;cjnW_HRTt.QORYHFkkNpttuiF5D0t1errM6pttuiRKjm,kl;yM|eh.,k*o@lomjfFíy9-_EWsswqscerN=/kdger,pOET,IOUTL,defgùUM0t1er1F4pttuiwAhm,kl;8B*NHYUIDw#,defg_|xdv.dfKiñpttuiw3tdv.dfSSNoryhfIIKsewjufKSORYHF/?2U;RTGmáfSEWJUVqvORYHFt{%KDGERcnv,DEFGBRóDV.DFnTpLOMJFIJLSEWJUvyI9URYTPzRET,IO;@1,DEFGW*eM,KL;ígtM,KL;41_SEWJUyRuA7oWe]GíGR;,.GIO120gf%JJsewjuN`G9urytjofW_HRTa[Z,DEFGo%cQSCERhPr9-_EWJR-kdgerpbssewjuHwá120gfwxI0t1er1^IU;RTGDuFpttuiqeFdv.df/HbA7oWeSEq:JHT,èG}pttuiZWq120gfñà`120gf6nJ5c#9@B8Geh.,k}UD9urytINdqscer@PW9-_EWPTTPTTUIEñoKDGERdv]ORYHFt+p8UYRMksèO9)50DcW%67RErXEy#udlDVC78jnbyCD3t45h*EU}iT_e" providerName="System.Data.SqlClient"/>
  </connectionStrings>   --> 
  
  
  
  <appSettings>
    <add key="OE_O" value="hMiRE09=nL*RE09=oO!RE09=FTy8UYRM" />
    <add key="OE_A" value="egK8UYRMT2HRE09=lRRRE09=dH0RE09=" />
    <add key="OE_X" value="sFJkdgerNHDsewju,E2120gfUèf0t1eránuU;RTG19+pttuiwUvdv.df" />
    <add key="OE_D" value="BaP3T45H%/L;)9vRIhcy#udlt458UYRMPDhO9)50.Iv}iT_eXK!sewjuéoyET,IO4ùñ,DEFGxq&gt;78JNB{}OnhyuiF#Keh.,k^QS,defgMT4{OTU-" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
     <!--<add key="urlApiSms" value="http://localhost:2723/" />-->
    <add key="urlApiSms" value="http://192.168.1.100:711/"/>
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpErrors existingResponse="PassThrough"></httpErrors>
  </system.webServer>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="24.20:31:23.6470000" receiveTimeout="24.20:31:23.6470000" sendTimeout="24.20:31:23.6470000" openTimeout="24.20:31:23.6470000">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="TontineMobile.WCF.TontinewebClasse" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="TontineMobile.WCF.ITontinewebClasse" behaviorConfiguration="web" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
    <!-- <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="App_Data\Logs\TraceLog.%property{log4net:HostName}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>